body {
    background: url("/media/img/top.jpg") repeat-x;
    margin: 1px 0 0 0;
}
#header {
    overflow: hidden;
    zoom:1;
}
#top {
    margin-top: 8px;
}
#main-search {
    height: 50px;
}

#main-search input.textbox {
    font-family: Monaco, Monospace, Courier;
    color: #101010;
    background-color: #FFF;
    font-size: 30px;
    border: 2px solid #B1B1B1;
    float:left;
}
#main-search span {
    font-family: Monaco, Monospace, Courier;
    color: #B1B1B1;
    font-size: 30px;
    text-align: center;
}

a.search-button {
    background: url("/media/img/search.png") no-repeat;
    width: 48px;
    height: 48px;
    border: 0;
    float: left;
}

#user-box {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: url("/media/img/user-box.png") repeat-x;
    font-family: Arial, FreeSans;
    margin: 5px 0 0 0;
    height: 71px;
    float:right;
}

#user-pic {
    width: 54px;
    height: 54px;
    margin: 12px 0 0 12px;
    background-color: #FFF;
    float:left;
}

#user-pic img {
    margin: 3px 0 0 3px;
}
#user-meta {
    float: left;
    margin: 10px 0 0 5px;
}
#user-meta span {
    display:block;
    margin: 0 0 -5px 0;
}
#user-meta span.big {
    font-size: 20px;
}
#user-meta span.mini {
    font-size: 12px;
}

#content {
    margin-top: 40px;
}

.test {
    border:1px solid black;
}

ul.form {
    list-style:none;
}

ul.form li.big {
    text-align:center;
}
ul.form input, ul.form span, ul.form label {
    font-size: 30px;
    font-family: FreeSans, Helvetica, Arial;
    color: #8a8984;
}
ul.form input.field {
    border:0;
    color: black;
    padding-left:5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #729fcf;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    opacity:0.50; -moz-opacity: 0.50;
    khtml-opacity: .50;
}