body {
    background: url("/media/img/top.jpg") repeat-x;
    margin: 1px 0 0 0;
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
}
#header {
    overflow: hidden;
    zoom:1;
}
#top {
    margin-top: 8px;
}
#main-search {
    height: 50px;
}

#main-search input.textbox {
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
    color: #101010;
    background-color: #FFF;
    font-size: 30px;
    border: 2px solid #B1B1B1;
    float:left;
}
#main-search span {
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
    color: #B1B1B1;
    font-size: 30px;
    text-align: center;
}

a.search-button {
    background: url("/media/img/search.png") no-repeat;
    width: 48px;
    height: 48px;
    border: 0;
    float: left;
}

#user-box {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: url("/media/img/user-box.png") repeat-x;
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
    margin: 5px 0 0 0;
    height: 71px;
    float:right;
}

#user-pic {
    width: 54px;
    height: 54px;
    margin: 12px 0 0 12px;
    background-color: #FFF;
    background-image: url("/media/img/dude.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    float:left;
}

#user-pic img {
    margin: 3px 0 0 3px;
}
#user-meta {
    float: left;
    margin: 10px 0 0 5px;
}
#actions-sticker {
    position:absolute;
    right:10px;
    top:0;
    font-size: 16px;
}
#actions-sticker * {
    background-color: #DDD;
    color: #000;
}

#actions-sticker .content {
    border:0;
    width:120px;
    display:none;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    opacity:0.60; -moz-opacity: 0.60;
    khtml-opacity: .60;
    height:40px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    color: #FFF;
    font-size: 10px;
    text-align:center;
}
#actions-sticker .content a {
    color: #34362e;
    text-align:center;
}
#actions-sticker .label {
    font-size: 12px;
    cursor:pointer;
    margin-right:30px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-top:0;
    width:60px;
    text-align:center;
    margin-left: 30px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    opacity:0.60; -moz-opacity: 0.60;
    khtml-opacity: .60;
}
#actions-sticker .label a {
    text-decoration:none;
}
#actions-sticker .label a:hover {
    color: #204a87;
}

#user-meta .line {
    margin: 0 0 -5px 0;
}
#user-meta span.big {
    font-size: 20px;
}
#user-meta span.mini {
    font-size: 12px;
}

#content {
    margin-top: 40px;
}

.test {
    border:1px solid black;
}

ul.form {
    list-style:none;
    margin-right: 15px;
}

ul.form li {
    margin-left: 15px;
    clear:both;
}
ul.form li.error {
    font-size: 12px;
    color: #a40000;
    background-color: #d2fca7;
    border: 1px solid #2e3436;
    text-align:center;
    margin-bottom:4px;
    -webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
}

ul.form li.error a {
    color: #2e3436;
    font-size: 12px;
    text-decoration:none;
}
ul.form li.msg * {
    font-size: 12px;
    color: #2e3436;
}
ul.form li.msg {
    background-color: #FFF;
    border: 1px solid #D0D1CA;
    text-align:center;
    margin-bottom:4px;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}

ul.form li.msg a {
    color: #000;
    text-decoration:none;
}

ul.form li.msg a:hover {
    font-weight:bold;
}

ul.form input, ul.form span, ul.form label {
    font-size: 28px;
    color: #8a8984;
}
#login ul.form input, ul.form span, ul.form label {
    font-size: 18px;
}

ul.form label {
    float:left;
}
ul.form label.error {
    font-size: 12px;
    color: #ef2929;
    background-color: #eeeeec;
    border: 1px solid #babdb6;
    text-align:center;
    width: 100%;
    margin-bottom:4px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
}

ul.form input {
    float:right;
}

ul.form input.button, ul.form input.field {
    color: #333;
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
}
ul.form input.field {
    background-image: url("../img/field-bg.png");
    background-repeat: repeat-x;
    border:1px solid #ccc;
    color: #666;
    padding-left:5px;
    padding-bottom:5px;
    margin-bottom:5px;
}
ul.form input.link {
    float: left;
    margin-top: 2px;
    color: #4e9a06;
    cursor:pointer;
    background:transparent;
    border:0;
}

div.form-container {
    webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border:1px solid #ccc;
}

#tooCool {
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    height: 80px;
    width: 80px;
    background: url(/path/to/image/too_cool.png) bottom right no-repeat;
    text-indent: -999em;
    text-decoration: none;
}

.simple-field {
    background-color: #FFF;
    border: 1px solid #D0D1CA;
    margin-bottom:4px;
}
.simple-corner {
    background-color: #FFF;
    border: 1px solid #D0D1CA;
    margin-bottom:4px;
    -webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
}
.simple-corner h1 {
    color:#888a85;
    font-size: 20px;
}

.simple-corner h2 {
    margin:0;
    color:#888a85;
    font-size: 16px;
}

ul.litle-form {
    list-style:none;
    margin-right: 15px;
}

ul.litle-form .edit {
    color:#204a87;
}
ul.litle-form .delete {
    color:#ef2929;
}
ul.litle-form .add {
    color:#f57900;
}
ul.litle-form label {
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    color:#ef2929;
    display:block;
    font-size: 10px;
    text-transform:lower;
}

ul.big-form {
    font-size: 30px;
    list-style:none;
    margin-right: 15px;
}
ul.big-form label{
    font-size: 16px;

}
ul.big-form textarea, ul.big-form .large{
    width: 100%;
}
#top-message {
    z-index: 12345;
    position:absolute;
    width: 100%;
    height: 50px;
    top:0;
    left:0;
    display:none;
    background-color: black;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    opacity:0.80; -moz-opacity: 0.80;
    khtml-opacity: .80;
    text-align:center;
}
#top-message-text {
    display:inline-block;
    color:white;
    padding-left: 50px;
    font-size: 28px;
    padding-top: 6px;
    background-repeat:no-repeat;
}
#top-message-text.success {
    background-image: url("/media/img/success.png");

}
#top-message-text.error {
    background-image: url("/media/img/error.png");
}
#top-message-text.warning {
    background-image: url("/media/img/warning.png");
}

#top-message .wrapper {
}

#add-key-box {
    display:none;
}

.template {
    display:none;
}

.not_found h1 {
    font-size: 60px;
    color: #00AF4A;
}

.not_found h2 {
    font-size: 30px;
    color: #b04900;
}

.left {
    float:left;
}
#user-repository-list a {
    color: #2e3436;
    text-decoration:none;
}
#user-repository-list li{
    list-style: none;
    margin: 4px;
    border: 1px solid #edd400;
    background: #FFF17F;
    padding:0;
    height: 20px;
    clear:both;
}

#user-repository-list li.big{
    height: 24px;
    font-size: 12px;
    border: 1px solid #4e9a06;
    background: #8ae234;
    padding: 3px 0 0 0;
}

#user-repository-list li.big input{
    font-size: 12px;
}

#user-repository-list li:hover{
    background: #fce94f;
}

#user-repository-list li.big:hover{
    background: #8ae234;
}

#user-repository-list .title {
    font-size: 17px;
    margin: -4px 0 0 4px;
    float:left;
    color: #2e3436;
}

#user-repository-list .description {
    font-size: 10px;
    float:right;
    margin: 3px 10px 0 0;
    color: #2e3436;
}

#user-repository-list .description .time {
    color: #064d99;
}

#user-repository-list .description .owner {
    color: #a40000;
}

#user-repository-list input.link {
    margin-top: 2px;
    color: #2e3436;
    background:transparent;
    border:0;
}

#save-new-repos-div {
    display:none;
}
#create-new-repos {

}

#loading {
    margin: 0 auto;
    width: 310px;
    height:100px;
    margin-top: 80px;
}

#file-tree {
    margin: 20px 0 0 20px;
}