<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
           xmlns:py="http://genshi.edgewall.org/"
           xmlns:xi="http://www.w3.org/2001/XInclude"
           lang="en"
           py:strip="">
  <xi:include href="base.html" />
    <head>
      <title>Login</title>
      <script type="text/javascript" src="/media/js/hacklab.repository.js"></script>
    </head>
    <body>
    <div id="content" class="container_16">
      <div class="grid_10 prefix_3 fill-form">
	<form action="/repository/new" method="post" id="new-repository-form">
	  <div class="form-container">
	    <ul class="form">
	      <li class="big">
		<span>create a new repository</span>
	      </li>
	      <li>
		<label for="name">name</label>
		<input type="text" name="name" id="name" class="field" />
	      </li>
	      <li>
		<label for="description">description</label>
		<input type="text" name="description" id="description" class="field" />
	      </li>
	      <li>
		<input type="submit" name="go" id="submit" class="button" value="create it!" />
		<div style="clear:both">

		</div>
	      </li>
	    </ul>
	  </div><!-- end #form-container-->
	</form>
      </div><!-- end .fill-form-->
    </div><!-- end #content-->
  </body>
</html>
