<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  lang="en"
  py:strip="">
  <xi:include href="base.html" />
    <head>
      <title>${repository.owner.name}'s ${repository.name} at hacklab</title>
      <script type="text/javascript" src="/media/js/hacklab.repository.js"></script>
    </head>
    <body>
      <div id="content" class="container_16">
	<div class="grid_10 prefix_3 fill-form">
	  <h1>${repository.name}</h1>
	  <div class="simple-corner" style="text-align:center;">
	  <code>
	    git clone git://127.0.0.1/${repository.owner.username}/${repository.slug}.git
	  </code>
	  <code>
	    git push ${os_user}@${local_address}/${repository.owner.username}/${repository.slug}.git
	  </code>
	</div>
    </div><!-- end .fill-form-->
    </div><!-- end #content-->
    <div id="content" class="container_16">
      <div class="grid_16 simple-corner">
<table cellspacing="0" cellpadding="0">
    <tbody><tr>
      <th/>
      <th>name</th>
      <th>age</th>
      <th>
        <div class="history">
          <a href="/gabrielfalcao/hacklab/commits/master/">history</a>
        </div>
        message
      </th>
    </tr>




      <tr class="alt">
        <td class="icon"> <img src="http://assets3.github.com/images/icons/txt.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="file"/> </td>
        <td class="content"> <a id="c6702b16a2e869678661673d38c8c895ab6d0b86" href="/gabrielfalcao/hacklab/blob/e8d7151b7a0e7841ee408538ab1006c1eff06add/.gitignore">.gitignore</a></td>

        <td class="age"> <span class="relatize relatized">September 04, 2009</span> </td>
        <td class="message"> <a title="increasing the code coverage" class="message" href="/gabrielfalcao/hacklab/commit/e986cb9035d46b053bd0b72558e76883d82510c0">increasing the code coverage</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="">
        <td class="icon"> <img src="http://assets3.github.com/images/icons/txt.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="file"/> </td>
        <td class="content"> <a id="58eb24abd66731c367da7f5840442e671077f0ee" href="/gabrielfalcao/hacklab/blob/e8d7151b7a0e7841ee408538ab1006c1eff06add/Makefile">Makefile</a></td>

        <td class="age"> <span class="relatize relatized">1 day ago</span> </td>
        <td class="message"> <a title="make run, now does not drop db" class="message" href="/gabrielfalcao/hacklab/commit/7f48fe824a4f7256c15600ecc6cc77ace1576e38">make run, now does not drop db</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="alt">
        <td class="icon"> <img src="http://assets2.github.com/images/icons/dir.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="directory"/> </td>
        <td class="content"> <a id="745c9c4ddeb09fa9d222fd536a2052e08325199b" href="/gabrielfalcao/hacklab/tree/e8d7151b7a0e7841ee408538ab1006c1eff06add/artwork">artwork/</a></td>

        <td class="age"> <span class="relatize relatized">August 23, 2009</span> </td>
        <td class="message"> <a title="New layout" class="message" href="/gabrielfalcao/hacklab/commit/6b850b1c36a167745547dd9e78f083e293acc7b1">New layout</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="">
        <td class="icon"> <img src="http://assets3.github.com/images/icons/txt.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="file"/> </td>
        <td class="content"> <a id="f0a51039c7d3f9167e2148bc5ff80c715fcd186f" href="/gabrielfalcao/hacklab/blob/e8d7151b7a0e7841ee408538ab1006c1eff06add/db.py">db.py</a></td>

        <td class="age"> <span class="relatize relatized">August 23, 2009</span> </td>
        <td class="message"> <a title="db makefile target" class="message" href="/gabrielfalcao/hacklab/commit/ade33bd9b06c08943bbc9f178df74378f31ba079">db makefile target</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="alt">
        <td class="icon"> <img src="http://assets2.github.com/images/icons/dir.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="directory"/> </td>
        <td class="content"> <a id="f56269daf8f961b6fa7e739c5036395d47d8811f" href="/gabrielfalcao/hacklab/tree/e8d7151b7a0e7841ee408538ab1006c1eff06add/hacklab">hacklab/</a></td>

        <td class="age"> <span class="relatize relatized">about 3 hours ago</span> </td>
        <td class="message"> <a title="testing serialization" class="message" href="/gabrielfalcao/hacklab/commit/731523d5294b79592251225a9477637cabc48113">testing serialization</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="">
        <td class="icon"> <img src="http://assets2.github.com/images/icons/dir.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="directory"/> </td>
        <td class="content"> <a id="2c0663e549eaff0fe9cc5d6973dd2683ed74b24c" href="/gabrielfalcao/hacklab/tree/e8d7151b7a0e7841ee408538ab1006c1eff06add/media">media/</a></td>

        <td class="age"> <span class="relatize relatized">about 21 hours ago</span> </td>
        <td class="message"> <a title="repository file listing" class="message" href="/gabrielfalcao/hacklab/commit/9dff36b67c703e0f328fcc6be5df9abc96d62424">repository file listing</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="alt">
        <td class="icon"> <img src="http://assets3.github.com/images/icons/txt.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="file"/> </td>
        <td class="content"> <a id="39053a90fe5aae8cd1649ae9eb505b5f161dbda3" href="/gabrielfalcao/hacklab/blob/e8d7151b7a0e7841ee408538ab1006c1eff06add/settings.yml">settings.yml</a></td>

        <td class="age"> <span class="relatize relatized">September 04, 2009</span> </td>
        <td class="message"> <a title="Repository creation working" class="message" href="/gabrielfalcao/hacklab/commit/2477265bb8274b05d0b0fd03db48221e3c729a17">Repository creation working</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="">
        <td class="icon"> <img src="http://assets2.github.com/images/icons/dir.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="directory"/> </td>
        <td class="content"> <a id="65f24cd6e4b92db622437bf6688ec38e87e4f83b" href="/gabrielfalcao/hacklab/tree/e8d7151b7a0e7841ee408538ab1006c1eff06add/templates">templates/</a></td>

        <td class="age"> <span class="relatize relatized">about 21 hours ago</span> </td>
        <td class="message"> <a title="repository file listing" class="message" href="/gabrielfalcao/hacklab/commit/9dff36b67c703e0f328fcc6be5df9abc96d62424">repository file listing</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

      <tr class="alt">
        <td class="icon"> <img src="http://assets2.github.com/images/icons/dir.png?a1ad5e4cd550ac8f7f4196e63146d831bcfaca5e" alt="directory"/> </td>
        <td class="content"> <a id="cacf0a597b842dfe24f577b6dadfeca4155e8821" href="/gabrielfalcao/hacklab/tree/e8d7151b7a0e7841ee408538ab1006c1eff06add/tests">tests/</a></td>

        <td class="age"> <span class="relatize relatized">about 3 hours ago</span> </td>
        <td class="message"> <a title="covering more repository code" class="message" href="/gabrielfalcao/hacklab/commit/e8d7151b7a0e7841ee408538ab1006c1eff06add">covering more repository code</a> [<a href="/gabrielfalcao">gabrielfalcao</a>] </td>
      </tr>

  </tbody></table>

      </div><!-- end #file-tree -->
    </div><!-- end #content-->

  </body>
</html>
