<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  lang="en"
  py:strip="">
  <xi:include href="base.html" />
    <head>
      <title>${repository.owner.name}'s ${repository.name} at hacklab</title>
      <script type="text/javascript" src="/media/js/hacklab.repository.js"></script>
    </head>
    <body>
      <div id="content" class="container_16">
	<div class="grid_10 prefix_3 fill-form">
	  <h1>${repository.name}</h1>
	  <div class="simple-corner" style="text-align:center;">
	    <code>git clone git://127.0.0.1/${repository.owner.username}/${repository.slug}.git</code>
      <code>git push ${os_user}@${local_address}/${repository.owner.username}/${repository.slug}.git</code>
    </div>
    </div><!-- end .fill-form-->
    </div><!-- end #content-->
    <div id="content" class="container_16">
      <div class="grid_16 simple-corner">
	<code py:if="raw">${raw}</code>
	<table cellspacing="0" cellpadding="0" py:if="defined('files')">
	  <tbody><tr>
	      <th/>
	      <th>name</th>
	      <th>age</th>
	      <th>message</th>
	    </tr>
	    <tr class="alt" py:for="file in files">
	      <td class="icon" py:choose="file['type']">
		<img src="/media/img/page.png" alt="${file['type']}" py:when="'blob'" />
		<img src="/media/img/folder.png" alt="${file['type']}" py:when="'tree'" />
	      </td>
	      <td class="content">
		<a id="${file['hash']}" href="/user/${repository.owner.username}/${repository.slug}/${file['type']}/${file['hash']}">${file['name']}</a>
	      </td>
	    </tr>
	  </tbody>
	</table>

      </div><!-- end #file-tree -->
    </div><!-- end #content-->

  </body>
</html>
