<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Welcome to Sponge!</title>
    <link rel="stylesheet" href="/media/css/reset.css" />
    <link rel="stylesheet" href="/media/css/text.css" />
    <link rel="stylesheet" href="/media/css/960.css" />
    <link rel="stylesheet" href="/media/css/main.css" />
    <script src="/media/js/jquery.js" type="text/javascript"></script>
    <script src="/media/js/jquery.ui.js" type="text/javascript"></script>
    <script src="/media/js/jquery.shout.js" type="text/javascript"></script>
    <script src="/media/js/hacklab.js" type="text/javascript"></script>
</head>
<body>
    <div id="header" class="container_16">
      <div id="top" class="grid_3">
	<img src="/media/img/logo.png" class="logo" alt="HackLab logo" />
      </div>
      <div id="user-box" class="grid_5">
	<div id="user-pic">
	  <img src="/media/img/userpic1.png" alt="Gabriel Falcão" />
	</div>
	<div id="user-meta">
	  <span class="big">Gabriel Falcão</span>
	  <span class="mini">9 repositories</span>
	  <span class="mini">83291 commits</span>
	</div>
      </div>
    </div>
    <div id="content" class="container_16">
      <div id="main-search" class="grid_8 prefix_4">
	<span>Search repositories</span>
	<input type="text" name="search" value="" class="textbox" />
	<a href="#search" class="search-button"></a>
      </div>
    </div>
</body>
</html>
