<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>HackLab, GNU hackers are here</title>
    <link rel="stylesheet" href="/media/css/reset.css" />
    <link rel="stylesheet" href="/media/css/text.css" />
    <link rel="stylesheet" href="/media/css/960.css" />
    <link rel="stylesheet" href="/media/css/jquery-ui.css" />
    <link rel="stylesheet" href="/media/css/main.css" />
    <script src="/media/js/jquery.js" type="text/javascript"></script>
    <script src="/media/js/jquery.ui.js" type="text/javascript"></script>
    <script src="/media/js/jquery.shout.js" type="text/javascript"></script>
    <script src="/media/js/jquery.validate.js" type="text/javascript"></script>
    <script src="/media/js/hacklab.js" type="text/javascript"></script>
    <script src="/media/js/hacklab.newuser.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="header" class="container_16">
      <div id="top" class="grid_3">
	<img src="/media/img/logo.png" class="logo" alt="HackLab logo" />
      </div>
    </div>
    <div id="content" class="container_16">
      <div class="grid_10 prefix_3 fill-form">
	<form action="/user/new" method="post" id="new-user-form">
	  <div class="form-container">
	    <ul class="form">
	      <li class="big">
		<span>joining hacklab</span>
	      </li>
	      <li>
		<label for="name">name</label>
		<input type="text" name="name" id="name" class="field" />
	      </li>
	      <li>
		<label for="email">email</label>
		<input type="text" name="email" id="email" class="field" />
	      </li>
	      <li>
		<label for="password">password</label>
		<input type="password" name="password" id="password" class="field" />
	      </li>
	      <li>
		<label for="next-step">next step</label>
		<input type="submit" name="go" id="submit" class="button" value="create a repository" />
		<div style="clear:both">

		</div>
	      </li>
	    </ul>
	  </div><!-- end #form-container-->
	</form>
      </div><!-- end .fill-form-->
    </div><!-- end #content-->
  </body>
</html>
