<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Welcome to Sponge!</title>
    <link rel="stylesheet" href="/media/css/reset.css" />
    <link rel="stylesheet" href="/media/css/text.css" />
    <link rel="stylesheet" href="/media/css/960.css" />
    <link rel="stylesheet" href="/media/css/main.css" />
    <script src="/media/js/jquery.js" type="text/javascript"></script>
    <script src="/media/js/jquery.ui.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#date-controls .datelink").click(function(){
                var where = $(this).attr("href");
                $.ajax({
                    url: where,
                    dataType: "json",
                    success: function (data) {
                        $("#current-time").text(data.time)
                    },
                    error: function (xhr) {
                        $("#current-time").text(xhr.responseText);
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
<div class="container_12">
    <div class="grid_1">
        <div class="grid_3 alpha">
            <img src="/media/img/sponge.png" alt="Sponge, getting things DRY" />
        </div>
        <div class="grid_9 omega">
            <h1>Congratulations!</h1>

            <h2>Your have just <em>Sponged</em> a new web application!</h2>
            <h3>You can even play with routes!</h3>
            <ul>
                <li><a href="/play">Play</a></li>
                <li><a href="/work">Work</a></li>
            </ul>
            <h3>On Sponge, nice routes meets ajax</h3>
            <ul id="date-controls">
                <li><a class="datelink" href="/ajax/current_date">Date</a></li>
                <li><a class="datelink" href="/ajax/current_time">Time</a></li>
                <li><a class="datelink" href="/ajax/current_date_and_time">Date and Time</a></li>
                <li><a class="datelink" href="/ajax/current_blabla">Unrecognized format</a></li>
            </ul>
            <h4 id="current-time">Choose the time format above</h4>
        </div>
    </div>
</div>
</body>
</html>
