<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  lang="en">
  <xi:include href="base.html" />
    <head>
      <title>${user.name}'s account details at hacklab</title>
      <script py:if="defined('user')" src="/media/js/hacklab.user.account.js" type="text/javascript"></script>
      <script py:if="user.total_of_keys == -1">
	$(function(){
	$("#first-use").dialog({
	draggable: true,
	resizable: true,
	width: '600px',
	modal: true,
	title: "SSH key issue"
	});
	});
      </script>
    </head>
    <body>
      <div id="content" class="container_16">
	<div class="grid_9">
	  <div class="simple-corner">
	    <h1>account details</h1>
	    <hr />
	    <h2>change password</h2>
	    <form id="change-password-form" action="/user/change-password" method="post">
	      <ul class="litle-form">
		<li><input class="simple-corner" type="password" name="password" id="password" value="" /></li>
		<li><input class="simple-corner" type="password" name="confirm" id="confirm" value="" /></li>
		<li><input type="submit" value="save" /></li>
	      </ul>
	    </form>
	    <h2>ssh keys</h2>
	    <ul class="litle-form" id="key-list">
	      <li class="template">
		<span class="text"></span>
		<a class="edit-key" href="#edit" id="edit:">(edit)</a>
		<a class="delete-key" href="#delete" id="delete:">(delete)</a>
	      </li>

	      <li py:for="key in user.keys" id="${key.uuid}" class="ssh-key">
		${key.description}
		<a class="edit-key" href="#edit" id="edit:${key.uuid}">(edit)</a>
		<a class="delete-key" href="#delete" id="delete:${key.uuid}">(delete)</a>
	      </li>

	      <li py:if="len(user.keys) > 0"><a class="add" id="add-ssh-key" href="#add">add another key</a></li>
	      <li py:if="len(user.keys) == 0"><a class="add" id="add-ssh-key" href="#add">add a key</a></li>
	    </ul>
	  </div><!--! .simple-corner -->
	</div><!--! .grid -->
	<div class="grid_7">
	  <div class="simple-corner">
	    <h1>Your repositories</h1>
	    <ul id="user-repository-list">
	      <li py:for="x in range(10)">
		<div class="title"><a href="/repository/${x}">Bolacha</a></div>
		<div class="description">last commit at
		  <span class="time">04:29</span>
		  by
		  <span class="owner">Gabriel</span>
		</div>
	      </li>
	      <li>
		<a href="/repository/new">Create a new one</a>
	      </li>
	    </ul>
	  </div><!--! .simple-corner -->
	</div><!--! .grid -->

      </div><!--! .container -->
      <div id="add-key-box">
	<form id="add-key-form" action="/user/add-key" method="post">
	  <ul class="big-form">
	    <li>
	      <label for="description">description</label>
	      <input class="simple-corner large" type="text" name="description" id="description" value="" />
	    </li>
	    <li>
	      <label for="key">key</label>
	      <textarea rows="5" cols="24" class="simple-corner" name="key" id="key" value=""></textarea>
	    </li>
	    <li><input type="submit" value="done :)" /></li>
	  </ul>
	</form>
      </div>
      <div id="first-use" class="template" py:if="user.total_of_keys == 0">
	<h1>First access ?</h1>
	<p>To achieve push permission, you need to send, at loasds</p>
      </div>
    </body>
</html>