<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
<xi:include href="base.html" />
    <head>
      <title>${user.name}'s account details at hacklab</title>
    </head>
    <body>
      <div id="content" class="container_16">
	<div class="grid_10 prefix_3">
	  <div class="simple-corner">
	    <h1>account details</h1>
	    <hr />
	    <h2>change password</h2>
	    <form action="/user/change-password" method="post">
	      <ul class="litle-form">
		<li><input class="simple-corner" type="password" name="password" value="" /></li>
		<li><input class="simple-corner" type="password" name="confirmation" value="" /></li>
		<li><input type="button" value="save" /></li>
	      </ul>
	    </form>
	  </div><!--! .simple-corner -->
	</div><!--! .grid -->
      </div><!--! .container -->
      <div id="content" class="container_16">
	<div class="grid_10 prefix_3">
	  <div class="simple-corner">
	    <h1>ssh keys</h1>
	    <hr />
	    <ul class="litle-form">
	      <li>ssh-rsa AAAAB3NzaC1yc2EAAA <a class="edit" href="#edit">(edit)</a><a class="delete" href="#delete">(delete)</a></li>
	      <li>key of work laptop <a class="edit" href="#edit">(edit)</a><a class="delete" href="#delete">(delete)</a></li>
	      <li><a class="add" href="#add">add another key</a></li>
	    </ul>
	  </div><!--! .simple-corner -->
	</div><!--! .grid -->
      </div><!--! .container -->
    </body>
</html>