<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
           xmlns:py="http://genshi.edgewall.org/"
           xmlns:xi="http://www.w3.org/2001/XInclude"
           lang="en"
           py:strip="">
  <xi:include href="base.html" />
    <head>
      <title>Login</title>
    </head>
    <body>
    <div id="content" class="container_16">
      <div class="grid_7 prefix_5 fill-form">
	<form method="post" id="login">
	  <div class="form-container">
	    <ul class="form">
	      <li class="big">
		<span>hacklab login</span>
	      </li>
	      <li class="error" py:if="wrong_password">
		${wrong_password}
	      </li>
	      <li class="error" py:if="not_registered">
		The email ${not_registered} is not yet registered, do you want to <a href="/user/new?email=${not_registered}">register</a> now ?
	      </li>
	      <li>
		<label for="email">email</label>
		<input type="text" name="email" id="email" class="field" value="${email}"/>
	      </li>
	      <li>
		<label for="password">password</label>
		<input type="password" name="password" id="password" class="field" />
	      </li>
	      <li>
		<label for="lets-go">lets go,</label>
		<input type="submit" id="submit" class="button link" value="log me in!" />
		<div style="clear:both">

		</div>
	      </li>
	      <li class="msg" py:if="not not_registered">
		  <span>Not registered yet ? <a href="/user/new">Join hacklab now!</a></span>
	      </li>
	    </ul>
	  </div><!-- end #form-container-->
	</form>
      </div><!-- end .fill-form-->
    </div><!-- end #content-->
  </body>
</html>
