<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
<xi:include href="base.html" />
    <head>
      <title>user not found</title>
    </head>
    <body>
      <div id="content" class="container_16">
	<div class="grid_10 prefix_3 not_found">
	  <h1>404</h1>
	  <h2>The user "${username}" does not exist</h2>
	</div><!--! .grid -->
      </div><!--! .container -->
    </body>
</html>